{% extends "base.html" %}
{% block title %}SoBook{% endblock %}
{% block page_content %}
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-center">序号</th>
                <th class="text-center">书名</th>
                <th class="text-center">作者</th>
                <th class="text-center">书籍介绍</th>
                <th class="text-center">百度网盘链接</th>
                <th class="text-center">提取码</th>

            </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <th scope="row"></th>
                <td>sivan</td>
                <td>sivan</td>
                <td>sivan</td>
                <td>sivan</td>
                <td>sivan</td>
            </tr>
        </tbody>
      </table>
    </div>
{% endblock %}
